
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4d639f;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #9abca4;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li {
    background: #2c4b79;
}

/* 追加 */
.delete {
    cursor: pointer;
    color: orange;
}

.filtered {
    display : none !important;
}.