.wrapper{
 display: flex;
 height: 100vh;
}

.chat-side{
    width: 300px;
    background-color: #333333;
}

.chat-main{
   width: calc(100%-300px);
   background-color: #1ad21;
}

.side-header{
    width: 300px;
    height:100px;
    background-color: #595959;
    display: flex;
    align-items: center;
}

.groups{
    width: 300px;
    height: calc(100%-100px);
    background-color: #333333;
}

.main-header{
    height: 100px;
    width: calc(100%-300px);
    border-bottom: solid 1px ;
    background-color: #595959;
}

.messages{
    width: calc(100%-300px);
    height: calc(100%-190px);
    background-color: #1a1d21;
}

.form{
    width: calc(100%-300px);
    height: 90px;
    background-color: #595959;
}

.side-box{
    height: 20px;
    width: 260px;
    margin: 0 20px;
    background-color: #ffffff;
}